body{background-color: #A69CAC;
    background: linear-gradient(#474973, #0d0c1d);}

.Btn {    padding: 10px;
    background-color: #E9D985;
    font-size: 20px;
    padding: 18px 138px;
    border: solid #E9D985;
    border-radius: 8px;
    text-align: center;}


    .topnav {
        z-index: 2;
        overflow: hidden;
        background-color: #ed7230;
        height: 100px;
        display: flex;
        position: fixed;
        right: 0;
        left: 0;
    
            }
    
    .topnav #chefconnect {
        float: left;
        display: block;
        color: #FFF2E2;
        text-align: center;
        padding: 28px 20px;
        text-decoration: none;
        margin-right: 1230px;
        font-size: 40px; }
    
    .topnav .search_container {
            float: right;
        }
    
    .topnav .search_container #search_form {
        height: 100px;
        min-width: max-content;
    }
    
    .topnav #search_form input[type=text] {
        padding: 10px;
        padding-right: 70px;
        border: none;
        margin-top: 30px;
        font-size: 18px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    
    }
    
    .topnav .search_container #search_form button {
        float: right;
        padding: 11px;
        margin-left: 0;
        margin-right: 10px;
        margin-top: 30px;
        background: #9F5818;
        color: #FFF2E2;
        font-size: 17px;
        border: none;
        cursor: pointer;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    
    .topnav .profile_pic img {
        width: 65px;
        background-color: #FFF2E2;
        border-radius: 50%;
    }
    
    .topnav .profile_menu {
        width: 100px;
        margin: 0px 30px 0px 0px;
    }
    