body{background-color: #e2e5e9;
    
    }

.Btn {    font-family: 'Nunito';
    padding: 10px;
    background-color: #f5ca92;
    font-size: 20px;
    padding: 15px 130px;
    border: solid #f5ca92;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;}


    .topnav {
        z-index: 2;
        overflow: hidden;
        background-color: #53bdbc;
        height: 100px;
        display: flex;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
            }
    
    .topnav #Topnav-logo {
        display: flex;
        float: left;
        display: block;
        color: #FFF2E2;
        text-align: center;
        padding: 12px 20px;
        text-decoration: none;
        margin-right: 1230px;
        font-size: 40px; }
    
    .topnav .search-container {
        display: flex;
            float: right;
        }
    
    .topnav .search-container #search-form {
        height: 100px;
        min-width: max-content;
    }
    
    .topnav #search-form input[type=text] {
        padding: 10px;
        padding-right: 70px;
        border: none;
        margin-top: 30px;
        font-size: 18px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    
    }
    
    .topnav .search-container #search-form button {
        float: right;
        padding: 11px;
        margin-left: 0;
        margin-right: 10px;
        margin-top: 30px;
        background: white;
        color: #53bdbc;
        font-size: 17px;
        border: none;
        cursor: pointer;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    
    .topnav .profile-pic img {
        width: 70px;
        background-color: #FFF2E2;
        border-radius: 50%;
        
    }

    li{list-style: none;}
    
   /* .topnav .profile_menu {
        width: 100px;
        margin: 0px 30px 0px 0px;
    }*/
    


.aaaa{ height: 70px;
}