#containerPrincipal {
    text-align: center;
    min-width: 500px;
    padding: 150px;
}

#containerT {
    margin: 0 auto;
    display: inline-block;
    padding-top: 150px;
    padding-bottom: 120px;
    vertical-align: middle;
}

#logo {
    

    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 500px;
    margin-left: 100px;
}

.Eslogan {

    font-size: 35px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #53bdbc;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.Eslogan-h3{   
    font-size: 25px;
    margin-top: 0;
    color: #53bdbc;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
 }

#login {
    display: inline-block;
    vertical-align: middle;
    min-height: 450px;
    min-width: 450px;
    background-color: #53bdbc;
    margin-left: 80px;
    border-radius: 5%;
    padding: 20px;
    box-shadow: 4px 4px 15px #368f8d;
}

form {
    width: 400px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    border: none;
    background-color: white;
    height: auto;
    margin-top: 18px;
    outline: 0;
    padding: 15px;
    width: 360px;
    color: black;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 5px;

}

a {text-decoration: none;
color: black;}

#register_button {
    background-color: #a8bb61;
    font-size: 23px;
    padding: 25px 100px;
    border: solid #a8bb61;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    text-decoration: none;
    box-shadow: 4px 4px 15px #368f8d;
}



h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000000;
}
h4{ color: white;}
hr {
    border-color: white;
}
