#containerPrincipal {
    text-align: center;
    min-width: 500px;
    padding: 90px 130px;
}

#logo {
    font-size: 50px;
    color: #161B33;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0;
}

h2 {
    margin-bottom: 20px;
    margin-top: 0;
}

#register {
    background-color: #A69CAC;
    width: 40%;
    min-height: 550px;
    margin: 0 auto;
    border-radius: 8px;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 40px 15px;
    margin-bottom: 20px;
}

.form-control {
  border: none;
    background-color: #FFF2E2;
    height: auto;
    margin: 0px;
    outline: 0;
    padding: 15px;
    width: 410px;
    color: black;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"] {
    border: none;
    background-color: #FFF2E2;
    height: auto;
    margin: 0px;
    outline: 0;
    padding: 15px;
    width: 380px;
    color: black;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 5px;

}

form label {
    margin-bottom: 5px;
    display: block;
    font-size: 17px;
    color: #26221F;
    padding-top: 10px;
    text-align: left;
}

a {
    text-decoration: none;
    color: inherit;
}

.Btn-register {
    margin-bottom: 10px;
    margin-top: 18px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
.popup {
    margin: 220px auto;
    padding: 70px 20px 40px 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
.popup h2 {
    margin-top: 0;
    color: #26221F;
    font-family: 'Nunito';
    text-align: left;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 50%;
    overflow: auto;
    font-size: 20px;
    font-family: 'Nunito';
    text-align: left;
    padding: 0px 10px;
    width: 500px;
  }

#popup_form {
    margin: 0px 20px;
    padding: 0;
  }
