.fullscreen {
    display: flex;
}

.container1 {display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    width: 80%;
    min-height: 800px;
    margin-top: 130px;
    background-color: #53bdbb53;
    border-radius: 10px; 
    overflow: hidden; }    

    .container1 h1 {
        margin-top: 45px;
        margin-bottom: 0px;
    }

.ciudades {
    text-align: center;
}
.sin-tareas {
    font-weight: bolder;
    color: #ffffff;
}
    
    .city {
        background-color: rgb(255, 255, 255);
        width: 300px;
        height: 350px;
        border-radius: 5%;
        margin: 20px;
        margin-top: 30px;
        display: inline-block;
    }

    .city--no-tareas {
        background-color: #f5ca92;
        width: 300px;
        height: 350px;
        border-radius: 5%;
        margin: 20px;
        margin-top: 30px;
        display: inline-block;
    }
    
    .city img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}

        .ciudadimg {
            filter: brightness(0.9);
        }
    
        .city {
            transform: scale(var(--escala, 1));
            transition: transform 0.25s;
          }
          .city:hover{
            --escala: 1.1;
            cursor:pointer;}

    h4 {text-align: center;
        padding: 5px;
        color: #409492;
        font-size: 24px;
        margin-top: 0;
        font-family: 'Quicksand', sans-serif;
       
        border-radius: 20px;
        margin-top: 7px;}

        .material-symbols-outlined {
            color: #ffffff;
            padding-top: 20px;
        }